---
import '@/styles/main.css';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}
const { title='へる破壊財団', description='へるくんの個人サイト', image = 'https://helkun.dev/favicon.svg' } = Astro.props;
---
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="https://helkun.dev/favicon.svg" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={Astro.url} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={Astro.url} />

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<title>{title}</title>