---
import BaseLayout from '@/layouts/BaseLayout.astro';

import {Content as AboutContent} from '@/pages/about/aboutContent.mdx';

import Twitter from '@/components/svg/Twitter.astro';
import Youtube from '@/components/svg/Youtube.astro';
import Github from '@/components/svg/Github.astro';
import Misskey from '@/components/svg/Miskey.astro';
import Bluesky from '@/components/svg/Bluesky.astro';

import { getCollection } from 'astro:content';

const latestpost = (await getCollection('blog')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)[0];
---

<BaseLayout SITE_TITLE = "へる破壊財団" SITE_DESCRIPTION="へるくんの個人サイト">
	<div class="flex items-end">
		<h1 class="font-bold text-4xl">へるくん</h1>
		<p class="dark:text-slate-400 text-slate-600 text-2xl italic mx-1">Hel</p>
	</div>

	<AboutContent />

	<div class="flex flex-wrap m-0 p-0 gap-8 mdmax:gap-2 items-stretch">
		<div class="box sm:w-[calc(50%_-_1rem)] w-full">
			<h2>Latest Blog</h2>
			<div class="mx-auto my-2 p-0 gap-8 list-none mdmax:gap-2 w-[calc(100%_-_1rem)] bg-slate-200 dark:bg-slate-800 rounded-xl  border-solid border-2 border-slate-800 dark:border-slate-200 text-center transition hover:shadow-lg hover:shadow-slate-500 dark:hover:shadow-slate-400">
				<a href={`/blog/${latestpost.slug}/`} class="block">
					<img class="m-0 rounded-xl" width={720} height={540} src={latestpost.data.heroImage} alt={latestpost.data.description} />
					<div class="flex">{latestpost.data.tags.map((tag) => <p class="mx-1 text-start underline text-blue-500 dark:text-blue-400">#{tag}</p>)}</div>
					<h3 class="mx-2 my-0">{latestpost.data.title}</h3>
					<p class="dark:text-slate-400 text-slate-600 mx-2 my-0"> {latestpost.data.description}</p>
					<time class="dark:text-slate-400 text-slate-600 mx-2 mt-0 mb-1" datetime={latestpost.data.date.toISOString()}>{new Intl.DateTimeFormat('ja-JP').format(latestpost.data.date)}</time>
				</a> 
			</div>
		</div>

		<div class="box sm:w-[calc(50%_-_1rem)] w-full">
			<h2>SNS</h2>

			<section class="flex items-center my-2">
				<Twitter/>
				<p>
					<a href="https://twitter.com/hel_kun" class="underline text-blue-500 dark:text-blue-400" target="_blank">@helkun</a> (メイン)
					<br/>
					<a href="https://twitter.com/hel_kun_sub" class="underline text-blue-500 dark:text-blue-400" target="_blank">@hel_kun_sub</a> (サブ)
				</p>
			</section>

			<section class="flex items-center my-2">
				<Youtube/>
				<a href="https://www.youtube.com//@hel_kun" class="underline text-blue-500 dark:text-blue-400" target="_blank">@hel_kun</a> 
			</section>

			<section class="flex items-center my-2">
				<Github/>
				<a href="https://github.com/hel-kun" class="underline text-blue-500 dark:text-blue-400" target="_blank">helkun</a> 
			</section>

			<section class="flex items-center my-2">
				<Bluesky/>
				<p>
					<a href="https://bsky.helkun.dev" class="underline text-blue-500 dark:text-blue-400" target="_blank">@main.helkun.dev</a> (メイン)
					<br/>
					<a href="https://bsky.helkun.dev/sub/" class="underline text-blue-500 dark:text-blue-400" target="_blank">@sub.helkun.dev</a> (サブ)
				</p>
			</section>

			<section class="flex items-center my-2">
				<Misskey/>
				<a href="https://misskey.io/@helkun" class="underline text-blue-500 dark:text-blue-400" target="_blank">@helkun</a> 
			</section>

			<p>相互リンクは<a href="./links" class="underline text-blue-500 dark:text-blue-400">Linksページ</a>にあります</p>
		</div>
	</div>
</BaseLayout>