---
import BaseLayout from '@/layouts/BaseLayout.astro';

import Twitter from '@/components/svg/Twitter.astro';
import Youtube from '@/components/svg/Youtube.astro';
import Github from '@/components/svg/Github.astro';
import Misskey from '@/components/svg/Miskey.astro';
import Bluesky from '@/components/svg/Bluesky.astro';

import { getCollection } from 'astro:content';

const latestpost = (await getCollection('blog')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)[0];
---

<BaseLayout SITE_TITLE = "へる破壊財団" SITE_DESCRIPTION="へるくんの個人サイト">
	<div class="flex items-end">
		<h1 class="font-bold text-4xl">へるくん</h1>
		<p class="dark:text-slate-400 text-slate-600 text-2xl italic mx-1">Hel</p>
	</div>
	<div class="box">
		<h2>About me</h2>
		<section class="flex items-center my-1">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256" fill="currentcolor">
				<path d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z"></path>
			</svg>
			<p>埼玉県</p>
		</section>
		<section class="flex my-1">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentcolor" viewBox="0 0 256 256">
				<path d="M240,208H224V96a16,16,0,0,0-16-16H144V32a16,16,0,0,0-24.88-13.32L39.12,72A16,16,0,0,0,32,85.34V208H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM208,96V208H144V96ZM48,85.34,128,32V208H48ZM112,112v16a8,8,0,0,1-16,0V112a8,8,0,1,1,16,0Zm-32,0v16a8,8,0,0,1-16,0V112a8,8,0,1,1,16,0Zm0,56v16a8,8,0,0,1-16,0V168a8,8,0,0,1,16,0Zm32,0v16a8,8,0,0,1-16,0V168a8,8,0,0,1,16,0Z"></path>
			</svg>
			<p>
				電気通信大学 情報理工学域一類(学部2年)<br/>
				電気通信大学 工学研究部(24年度部長)<br/>
				電気通信大学 東方Project同好会 電々。通信(書記)<br/>
				電気通信大学 第73回調布祭実行委員会(資材局)<br/>
				個人サークル 百鬼夜響(代表)
			</p>
		</section>
		<section class="flex items-center my-1">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentcolor" viewBox="0 0 256 256">
				<path d="M232,112a24,24,0,0,0-24-24H136V79a32.06,32.06,0,0,0,24-31c0-28-26.44-45.91-27.56-46.66a8,8,0,0,0-8.88,0C122.44,2.09,96,20,96,48a32.06,32.06,0,0,0,24,31v9H48a24,24,0,0,0-24,24v23.33a40.84,40.84,0,0,0,8,24.24V200a24,24,0,0,0,24,24H200a24,24,0,0,0,24-24V159.57a40.84,40.84,0,0,0,8-24.24ZM112,48c0-13.57,10-24.46,16-29.79,6,5.33,16,16.22,16,29.79a16,16,0,0,1-32,0ZM40,112a8,8,0,0,1,8-8H208a8,8,0,0,1,8,8v23.33c0,13.25-10.46,24.31-23.32,24.66A24,24,0,0,1,168,136a8,8,0,0,0-16,0,24,24,0,0,1-48,0,8,8,0,0,0-16,0,24,24,0,0,1-24.68,24C50.46,159.64,40,148.58,40,135.33Zm160,96H56a8,8,0,0,1-8-8V172.56A38.77,38.77,0,0,0,62.88,176a39.69,39.69,0,0,0,29-11.31A40.36,40.36,0,0,0,96,160a40,40,0,0,0,64,0,40.36,40.36,0,0,0,4.13,4.67A39.67,39.67,0,0,0,192,176c.38,0,.76,0,1.14,0A38.77,38.77,0,0,0,208,172.56V200A8,8,0,0,1,200,208Z"></path>
			</svg>
			<p>2004年2月6日</p>
		</section>
		<section class="flex items-center my-1">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentcolor" viewBox="0 0 256 256">
				<path d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"></path>
			</svg>
			<p>コンピュータ / ジャンク / 音楽 / DTM / 徒歩 / 東方Project / 原神 </p>
		</section>
	</div>

	<div class="flex flex-wrap m-0 p-0 gap-8 mdmax:gap-2 items-stretch">
		<div class="box sm:w-[calc(50%_-_1rem)] w-full">
			<h2>Latest Blog</h2>
			<div class="mx-auto my-2 p-0 gap-8 list-none mdmax:gap-2 w-[calc(100%_-_1rem)] bg-slate-200 dark:bg-slate-800 rounded-xl  border-solid border-2 border-slate-800 dark:border-slate-200 text-center transition hover:shadow-lg hover:shadow-slate-500 dark:hover:shadow-slate-400">
				<a href={`/blog/${latestpost.slug}/`} class="block">
					<img class="m-0 rounded-xl" width={720} height={540} src={latestpost.data.heroImage} alt={latestpost.data.description} />
					<div class="flex">{latestpost.data.tags.map((tag) => <p class="mx-1 text-start underline text-blue-500 dark:text-blue-400">#{tag}</p>)}</div>
					<h3 class="mx-2 my-0">{latestpost.data.title}</h3>
					<p class="dark:text-slate-400 text-slate-600 mx-2 my-0"> {latestpost.data.description}</p>
					<time class="dark:text-slate-400 text-slate-600 mx-2 mt-0 mb-1" datetime={latestpost.data.date.toISOString()}>{new Intl.DateTimeFormat('ja-JP').format(latestpost.data.date)}</time>
				</a> 
			</div>
		</div>

		<div class="box sm:w-[calc(50%_-_1rem)] w-full">
			<h2>SNS</h2>

			<section class="flex items-center my-2">
				<Twitter/>
				<p>
					<a href="https://twitter.com/hel_kun" class="underline text-blue-500 dark:text-blue-400" target="_blank">@helkun</a> (メイン)
					<br/>
					<a href="https://twitter.com/hel_kun_sub" class="underline text-blue-500 dark:text-blue-400" target="_blank">@hel_kun_sub</a> (サブ)
				</p>
			</section>

			<section class="flex items-center my-2">
				<Youtube/>
				<a href="https://www.youtube.com//@hel_kun" class="underline text-blue-500 dark:text-blue-400" target="_blank">@hel_kun</a> 
			</section>

			<section class="flex items-center my-2">
				<Github/>
				<a href="https://github.com/hel-kun" class="underline text-blue-500 dark:text-blue-400" target="_blank">helkun</a> 
			</section>

			<section class="flex items-center my-2">
				<Bluesky/>
				<p>
					<a href="https://bsky.helkun.dev" class="underline text-blue-500 dark:text-blue-400" target="_blank">@main.helkun.dev</a> (メイン)
					<br/>
					<a href="https://bsky.helkun.dev/sub/" class="underline text-blue-500 dark:text-blue-400" target="_blank">@sub.helkun.dev</a> (サブ)
				</p>
			</section>

			<section class="flex items-center my-2">
				<Misskey/>
				<a href="https://misskey.io/@helkun" class="underline text-blue-500 dark:text-blue-400" target="_blank">@helkun</a> 
			</section>

			<p>相互リンクは<a href="./links" class="underline text-blue-500 dark:text-blue-400">Linksページ</a>にあります</p>
		</div>
	</div>
</BaseLayout>