---
const {title,image,date,description,github = "",siteUrl=""} = Astro.props;
---
<div class="box sm:w-[calc(50%_-_1rem)] w-full mx-2 p-2">
    <h2 class="text-center">{title}</h2>
    <img class="px-2 py-2 rounded-lg " src={image}/>
    <time class="mx-2 mt-0 mb-1" datetime={date}>制作日：{date}</time>
    <p>{description}</p>
    <p class="text-center">
        {github!="" ? <button class="button"  onclick={`window.open('${github}', '_self')`}>Github</button>: ""}
        {siteUrl!="" ? <button class="button"  onclick={`window.open('${siteUrl}', '_self')`}>WebSite</button>: ""}
    </p>
</div>