---
const { videoId } = Astro.props;

const width = "560px";
const height = "315px";
const parsentage = "56.25%";
---
<div class=`w-full max-w-[calc(${width})] mx-auto my-2 p-0 relative border`>
    <article class=`pb-[calc(${parsentage})]`>
        <iframe width="560" height="315" class=`w-full h-full max-h-[calc(${height})] max-w-[calc(${width})] absolute` src={`https://www.youtube.com/embed/${videoId}`} allowfullscreen></iframe>
    </article>
</div>