---
import { type CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';



type Props = CollectionEntry<'blog'>['data'];

const { title, description, tags, date, heroImage } = Astro.props;
---
<BaseLayout SITE_TITLE={title} SITE_DESCRIPTION={description} SITE_IMAGE={heroImage}>
	<article>
		<div class="w-full">
			{heroImage && <img class="block mx-auto my-0 rounded-xl" width={1020} height={510} src={heroImage} alt="" />}
		</div>
		<div class="m-auto p-2 ">
			<div class="text-center py-2 px-0 mb-4 leading-4">
				<div class="flex">{tags.map((tag) => <p class="mx-1"><a href={`/blog/tags/${tag}`} class="underline text-blue-500 dark:text-blue-400">#{tag}<a/></p>)}</div>
				<h1 class="mb-2">{title}</h1>
				<p class="mb-2 dark:text-slate-400 text-slate-600">
					{description}
				</p>
				<p class="mb-2 dark:text-slate-400 text-slate-600">
					<time datetime={date.toISOString()}>
						{new Intl.DateTimeFormat('ja-JP').format(date)}
					</time>
				</p>
				<hr/>
			</div>
			<article class="blogContent"><slot/></article>
		</div>
	</article>
</BaseLayout>

<style is:global>
	.blogContent{
		h2{
			@apply inline-block mt-12 mb-4 border-b-4 border-b-yellow-400;
		}
		h3{
			@apply my-2
		}
		figure{
			@apply my-4;
			img{
				@apply m-auto w-full max-w-md rounded-xl justify-center;
			}
			figcaption{
				@apply text-center m-auto;
			}
		}
		blockquote{
			@apply sm:mx-8 mx-2 my-2 p-4 border-solid border-l-8 border-blue-400 bg-gray-300 dark:bg-gray-700;
		}
		a{
			@apply underline text-blue-500 dark:text-blue-400;
		}
		ul{
        	@apply list-disc mx-8;
        	ul{
        	    @apply list-circle my-0;
        	    ul{
        	        @apply list-square;
        	    }
        	}
    	}
		.twitterCard{
			@apply block mx-auto my-4 w-full max-w-md;
		}
		.urlCard{
			a{
				@apply block no-underline max-w-sm max-h-min mx-auto border-solid border-2 border-slate-800 dark:border-slate-200 rounded-xl shadow-md sm:max-w-xl m-4 transition hover:shadow-lg hover:shadow-slate-500 dark:hover:shadow-slate-400;
			}
			img{
				@apply w-full sm:w-[180px] h-[150px] object-cover border-black dark:border-white sm:border-r-2 smax:border-b-2 mx-0 sm:rounded-l-xl smax:rounded-t-xl;
			}
			.title{ 
				@apply block mt-1 text-xl leading-tight font-bold text-black dark:text-white;
			}
			.description{
				@apply mt-2 text-base dark:text-slate-400 text-slate-600;
			}
		}
	}
</style>