---
import { type CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, date, heroImage } = Astro.props;
---
<BaseLayout SITE_TITLE={title} SITE_DESCRIPTION={description}>
	<article>
		<div class="w-full">
			{heroImage && <img class="block mx-auto my-0 rounded-xl" width={1020} height={510} src={heroImage} alt="" />}
		</div>
		<div class="m-auto p-2 ">
			<div class="text-center py-2 px-0 mb-4 leading-4">
				<h1 class="mb-2">{title}</h1>
				<p class="mb-2 dark:text-slate-400 text-slate-600">
					{description}
				</p>
				<p class="mb-2 dark:text-slate-400 text-slate-600">
					<time datetime={date.toISOString()}>
						{new Intl.DateTimeFormat('ja-JP').format(date)}
					</time>
				</p>
				<hr/>
			</div>
			<slot/>
		</div>
	</article>
</BaseLayout>