---
import { type CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, tags, date, heroImage } = Astro.props;
---
<BaseLayout SITE_TITLE={title} SITE_DESCRIPTION={description} SITE_IMAGE={heroImage}>
	<article>
		<div class="w-full">
			{heroImage && <img class="block mx-auto my-0 rounded-xl" width={1020} height={510} src={heroImage} alt="" />}
		</div>
		<div class="m-auto p-2 ">
			<div class="text-center py-2 px-0 mb-4 leading-4">
				<div class="flex frex-wrap">
					{
						tags.map((tag) => (
							<p class="mx-1">
								<a href={`/blog/tags/${tag}`} class="underline text-blue-500 dark:text-blue-400">#{tag}</a>
							</p>
						))
					}
				</div>
				<h1 class="mb-2">{title}</h1>
				<p class="mb-2 dark:text-slate-400 text-slate-600">
					{description}
				</p>
				<p class="mb-2 dark:text-slate-400 text-slate-600">
					<time datetime={date.toISOString()}>
						{new Intl.DateTimeFormat('ja-JP').format(date)}
					</time>
				</p>
				<hr/>
			</div>
			<article class="blogContent"><slot/></article>
		</div>
	</article>
</BaseLayout>

<script>
	const content = document.querySelector('.blogContent');
	if (content) {
		const tables = content.querySelectorAll('table');
		tables.forEach(table => {
			const wrapper = document.createElement('div');
			wrapper.className = 'table_container';
			table.parentNode?.insertBefore(wrapper, table);
			wrapper.appendChild(table);
		});
	}
</script>

<style is:global>
	.blogContent{
		h2{
			@apply inline-block pt-20 -mt-16 mb-4 border-b-4 border-b-yellow-400;
		}
		h3{
			@apply pt-20 -mt-[72px] mx-2 mb-2;
		}
		figure{
			@apply my-4;
			img{
				@apply m-auto w-full max-w-md rounded-xl justify-center;
			}
			figcaption{
				@apply text-center m-auto;
			}
		}
		blockquote{
			@apply sm:mx-8 mx-2 my-2 p-4 border-solid border-l-8 border-blue-400 bg-gray-300 dark:bg-gray-700;
		}
		p,table{
			code{
				@apply rounded-sm p-1 bg-[#d4d4d4] dark:bg-[#1e1e1e] text-[#1e1e1e] dark:text-[#d4d4d4];
			}
		}

		table{
			@apply w-full min-w-[720px];
			th, td{
				@apply border border-gray-400 dark:border-gray-500 p-2;
			}
			th{
				@apply bg-gray-200 dark:bg-gray-800;
			}
			td{
				@apply bg-gray-100 dark:bg-gray-700;
			}
		}
		.table_container {
			@apply overflow-x-auto;
			&::-webkit-scrollbar {
				@apply h-2;
			}
			&::-webkit-scrollbar-thumb {
				@apply bg-gray-400 dark:bg-gray-600 rounded;
			}
		}
		a{
			@apply underline text-blue-500 dark:text-blue-400;
		}
		ul{
        	@apply list-disc mx-8;
        	ul{
        	    @apply list-circle my-0;
        	    ul{
        	        @apply list-square;
        	    }
        	}
    	}
		.twitterCard{
			@apply block mx-auto my-4 w-full max-w-md;
		}
		.urlCard{
			a{
				@apply no-underline;
			}
			
		}
	}
</style>